#bootcamp-curriculum {
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 100px;
}

#curriculum-heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

#curriculum-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.curriculum-listitem {
    border: 1px solid aliceblue;
    border-radius: 15px;
    padding: 0 25px;
    background-color: #4A2199;
    color: aliceblue;

    padding-bottom: 30px;
}

.list-title {
    font-size: 32px;
    padding: 40px 0;
    font-weight: 500;
    border-bottom: 1.5px solid aliceblue;
}

.list-details {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.list-section {
    padding: 0 25px;
}

.section-title{
    font-size: 28px;
}

.section-list-container {
    margin: 20px 0;
    width: 80%;
    margin-left: 25px;
}

.list-item {
    padding: 4px 0;
}

#curriculum-join {
    margin-top: 80px;
    width: 100%;
    max-width: 600px;
}