#bootcamp-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 50px 35px 0 35px;
    /* background-image: url("../assets/main-bg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

#main-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

#main-heading > span {
    color: #4A2199;
}

#main-video {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    gap: 35px;
}

#main-video > img {
    width: 100%;
}

#main-desc {
    flex: 1;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#desc-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

#desc-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc-listitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin : 8px 0;
    padding: 10px;
    border-radius: 10px;
    background-color : #EEE4FF;
}

/* .listitem-icon {

} */

.listitem-text {
    font-size: 20px;
}

#main-join {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}

 

.start-date {
    font-weight:600;
    font-size: 20px;
    margin-bottom: 8px;
}

.language {
    font-size: 18px;
    font-weight: 400;
}

.tick {
    color: #EEE4FF;
    background-color: #4A2199;
    padding: 5px;
    border-radius: 50%;
}