#bootcamp-mentor {
    margin-top: 100px;
    padding: 0 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mentor-heading {
    margin-bottom: 60px;
}

#mentor-heading > p {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

#mentor-heading > h1 {
    font-size: 45px;
    color: #4A2199;
    text-align: center;
}

#mentor-info {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#mentor-img {
    flex: 1;
    /* width: 100px; */
    object-fit: contain;
}

#mentor-img >img {
    width: 100%;
    border-radius: 12px;
}

#mentor-desc {
    font-size: 20px;
    line-height: 33px;
    flex: 2.5;
    font-weight: 400;
}


#mentor-desc > span {
    font-size: 22px;
    font-weight: 500;
    color: #4A2199;
}