@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0    ;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    position: relative;
}

.join-btn {
    position: relative;
    width: 95%;
    font-size: 25px;
    font-weight: 500;
    background-color: #FFD601;
    color: #4A2199;
    border: none;
    padding: 15px;
    border-radius: 30px;
}

.join-btn-gradient-container {
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 95%;
    height: 70px;
    background: linear-gradient(-45deg, #FFED93 0%, #ff930f 100% );
    /* transform: translate3d(0px, 10px, 0) scale(1); */
    transform: translate3d(0px, 4px, 0) scale(0.8);
    filter: blur(30px);
    opacity: var(0.7);
    transition: all 0.5s ease;
}

.join-btn:hover {
    cursor: pointer;
}

.join-btn:hover + .join-btn-gradient-container {
    transform: translate3d(0px, 8px, 0) scale(1);
}

#go-home-btn {
    color: #4A2199;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 0 0 20px;
}

#go-home-btn:hover {
    text-decoration: underline;
}