#events-list {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 45px;
    gap: 70px;
}

.events-listitem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.item-image-container {
    flex: 1;
    object-fit: contain;
    padding-right: 20px;
    margin: 30px 0;
}

.item-image-container > img {
    width: 100%;
}
.item-details {
    flex: 1.3;
    padding-left: 20px;
    margin: 30px 0;
}

.item-heading {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-desc {
    font-size: 22px;
    margin-bottom: 30px;
}

.item-desc > p {
    font-weight: 500;
    margin: 10px 0;
    font-size: 26px;
}
.item-desc > a {
    color: #4A2199;
    font-size: 24px;
}

.item-desc > a:hover {
    text-decoration: none;
}

.item-mentor {
    font-size: 25px;
    margin-bottom: 20px;
}

.item-join {
    position: relative;
    text-align: center;
    width: 250px;
}

.item-mentor > span {
    color: #4A2199;
    font-size: 32px;
}