@media screen and (max-width: 775px) {
    .events-listitem {
        flex-direction: column;
    }

    .item-image-container {
        padding-right: 0;
    }
    
    .item-details {
        padding-left: 0;
        border-left: none;
    }
}

@media screen and (max-width : 550px) {
    #main-heading {
        font-size: 45px;
    }

    #events-list {
        padding: 0 20px;
    }
}

@media screen and (max-width : 400px) {
    #main-heading {
        font-size: 35px;
    }

    .item-heading {
        font-size: 26px;
    }

    .item-desc {
        font-size: 20px;
    }
}