#bootcamp-wsa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 100px;
    padding: 0 45px;
}

#wsa-heading {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}

#wsa-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.wsa-listitem {
    background-color: #EEE4FF;
    text-align: center;
    padding: 10px;
    width: 30%;
    height: 110px;
    border-radius: 12px;
}

.item-name {
    font-size: 26px;
}